.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%; /* Make table fill its container */
  border-collapse: collapse; /* Collapse borders for a cleaner look */
  margin-top: 20px;
  background-color: #4a4d52; /* Slightly different background for the table */
  color: white;
}

th, td {
  border: 1px solid #5a5d63; /* Subtle border for cells */
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #61dafb; /* Header background color */
  color: #282c34; /* Darker text for headers */
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #42454a; /* Slightly darker background for even rows */
}

tr:hover {
  background-color: #55585d; /* Highlight row on hover */
}
